/**
 * latin
 *
 * @format
 */

@font-face {
  font-family: 'LCD';
  font-style: normal;
  font-weight: 400;
  src: url(https://waitingallday.github.io/waitingallda/fonts/ds-digii.woff2)
    format('woff2');
}
